*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
}

body {
    margin: 0px;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    align-items: center;
    justify-items: center;
}
